
LS2/.vs/LS2/FileContentIndex/read.lock

LS2/.vs/LS2/FileContentIndex/cc57144f-3fa4-45ba-a15e-91b2c48ad1aa.vsidx

LS2/.vs/LS2/FileContentIndex/d6c6d82c-f927-4f79-886a-eae30e418a70.vsidx

*.vsidx

*.vcxproj

*.filters

*.sln

*.user

*.db

*.db-shm

*.db-wal

*.opendb

*.ipch
